* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Courier New;
  text-align: center;
  background-image: url(../images/background-1.jpg);
}

th, td {
  color: White;
  border: 1px solid White;
  padding-top: 1%;
  padding-bottom: 1%;
}

th {
  background-color: Black;
}

h1 {
  color: White;
  font-size: 40px;
  font-weight: 600;
}

h2 {
  color: #545454;
  font-size: 30px;
  font-weight: 600;
}

.main {
  overflow: scroll;
  text-align: center;
  margin: 0 auto;
  background-image: url(../images/background-3.jpg);
  border-style: solid;
  border-color: #8A8A8A;
  width: 1500px;
  height: 900px;
}

.tablehead th {
  width: 1500px;
  display: flex;
  align-items: center;
  position: fixed;
}
